.row {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Courier, monospace;
}

.menu {
  max-width: 900px;
  height: 20px;
  border-bottom: none;
  background-color: #e0afa0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item_list {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fffbeb;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  text-align: center;
  color: #fff;
  background-color: #e0afa0;
  display: grid;
  grid-template-rows: 1fr 2fr 40px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
Button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #8a817c;
  padding: 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  border-radius: 30px;
  margin: auto;
  width: 80px;
}
Button:hover {
  background-color: #f6f6f6;
}
Button:active {
  position: relative;
  top: 1px;
  outline: none;
}
Button:focus {
  outline: none;
}

.item__name {
  font-size: 24px;
  margin: auto;
  width: 90%;
}

.item__description {
  margin: auto;
  width: 90%;
}

.submenu {
  display: none;
}

.menu:hover .submenu {
  display: block;
  position: fixed;
}

.submenu__name {
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.submenu a {
  display: block;
  border-bottom: 2px solid #fff;
  background: #fff;
  text-decoration: none;
  border: 1px solid #000;
}

.submenu ul,
.submenu:hover ul li ul {
  display: none;
  list-style-type: none;
  width: 75px;
  height: 30px;
}

.submenu:hover ul,
.submenu:hover ul li:hover ul {
  display: block;
}

.submenu:hover ul li:hover ul,
.submenu:hover ul li:hover ul li:hover ul {
  position: absolute;
  left: 75px;
  margin-top: -10px;
}

.submenu-name {
  background-color: #fff;
  padding: 3px;
  text-align: center;
}

.red {
  width: 200px;
  height: 70px;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #e0afa0;
}

.red input {
  background-color: #fff;
  outline: none;
}
